body{
    margin:5%;
    background-color: #d9d9d9;
}
h1#event_page{
    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.event_img{
   max-width:100%;
}
div.event_list{
    display:inline-block;
    margin:2%;
}
h3{
    text-align: center;
    text-decoration: underline;
}