body{
    margin:5%;
}
#header{
    position:relative;
}
.nav{
    position:relative;
    bottom:10px;
}
#menu{
    float:left;
    width:5%;
    height:auto;
}
#loggo{
    float:right;
}
#header h1{
    display:inline;
    
}

.event{
    position: relative;
    width:100%;
}
.text_block{
    position:absolute;
    bottom: 0;
    left:0;
    color:white;
    font-size: 2.5em;
    background-color:transparent;
}
h1#event_page{

    text-align: center;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.event_img{
    width:100%;
}
div.event_list{
    display:inline-block;
    margin:2%;
}
h3{
    text-align: center;
    text-decoration: underline;
}